<nav>
    <div>
        <ul>
            <a href="/"><li>Home</li></a>
         
            <a href="/dashboard"><li>Dashboard</li></a>
            <li>Logout</li>
           
            <a href="/login"><li>Login</li></a>
        </ul>
    </div>
</nav>