<head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    {{> header}}
      <main class="container container-fluid mt-5">
    {{{ body }}}
      </main>
  </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>


