<div id='previous-posts'>
  <div class='menu-container'>
    <div class='card-header col-md-12'>
      <div class='post'>
        {{#each posts as |post|}}
          <p class='postHeader w-50'>{{title}}</p>
          <p class='author'>Posted by {{user.username}}</p>
          <p class='postText'>{{content}}</p>
        {{/each}}
      </div>
    </div>
  </div>
  <a href='/api/posts/new'>
    <button id='newPostBtn'>
      + New Post
    </button>
  </a>
</div>