<div id='loginCard' style='.w-75'>

  <div>
    <div class='post'>
     <form>
        <p class="dashP">Title</p>
        <input id="title-input" class="dInput" type="text">

        <p class="dashP">Content</p>
        <textarea id="content-input" class="dInput"></textarea>
     </form>
    </div>
  </div>

</div>
<button id='newPostBtn'>
  + New Post
</button>