{{#if loggedIn}}
  <div class='menu-container'>
    <div class='card-header col-md-12'>
      <div class='post'>

        {{#each posts as |post|}}
          <h3 class='postHeader w-100'>{{title}}</h3>
          <section class='postText'>{{content}}</section>
          <section class='author'>{{user.username}}</section>
        {{/each}}

      </div>
    </div>
  </div>
{{else}}
  <p class='m-auto'>Please
    <a href='/login'>log in</a>
    or
    <a href='/signup'>create an account</a>
    to view this page.</p>
{{/if}}