{{#if loggedIn}}
  <div class='menu-container'>
    <div class='card-header col-md-12'>
      <div class='post'>
        {{#each posts as |post|}}
          {{! <div id="postContainer"> }}
          <p class='postHeader w-50'>{{title}}</p>
          <p class='author'>Posted by {{user.username}}</p>
          {{! </div> }}
          <p class='postText'>{{content}}</p>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  <p class='m-auto'>Please
    <a href='/login'>log in</a>
    or
    <a href='/signup'>create an account</a>
    to view this page.</p>
{{/if}}