<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="menu-container">
  <div class="card-header col-md-12">
    <div class="post">
      <h3 class="postHeader w-100">Why MVC is so important</h3>
      <section class="postText">This is placeholder text for where the blogpost text will come from when the database is seeded.</section>
    </div>

  </div>