{{#each posts as |post| }}
<div class="menu-container">
  <div class="card-header col-md-12">
    <div class="post">
      <h3 class="postHeader w-100">{{title}}</h3>
      <section class="postText">{{content}}</section>
      <section class="author">{{user.username}}</section>
    </div>
  </div>