<div id='loginCard' style='.w-75'>
  <form id='loginForm'>
    <div class='loginHeader'>
      Login
    </div>
    <div id='userName'>
      Username
    </div>
    <input id="user-login" class='loginInput' />
    <div id='password-login'>
      Password
    </div>
    <input id="user-password" class='loginInput' />
    <button class='loginButton' type='submit'>Login!</button>
    <div id='signup'><a href='/signup'>Sign Up Instead</a></div>
  </form>
</div>

<script src='./js/login.js'></script>