<div style='.w-75'>
  <div class='post'>
    <form id='new-post'>
      <p class='dashP'>Title</p>
      <input id='title-input' class='dInput' type='text' />
      <p class='dashP'>Content</p>
      <textarea id='content-input' class='dInput'></textarea>
      <button id='post-submit' type='submit'>
        Submit
      </button>
    </form>
  </div>
</div>

<script src='/js/post.js'></script>