<div id='loginCard' style='.w-75'>
  <div class='loginHeader'>
    Sign Up
  </div>
  <form id='login-form'>
    <div id='username'>
      Username
    </div>
    {{! Input field }}
    <input id='input-name' class='loginInput' />

    <div id='userEmail'>
      Email
    </div>
    <input id='input-email' class='loginInput' />

    <div id='userPassword'>
      Password
    </div>
    {{! Input field }}
    <input id='input-password' class='loginInput' />

    <button class='loginButton' type='submit'>Sign Up!</button>
  </form>
  <div id='signup'><a href='/login'>Login Instead</a></div>
</div>

<script src='/js/signup.js'></script>