<div id="loginCard" style=".w-75">
    <div class="loginHeader">
        Sign Up
    </div>
    <div id="username">
        Username
    </div>
    <input class="loginInput">
    <div id="userPassword">
        Password
    </div>
    <input class="loginInput">
    <button class="loginButton">Sign Up!</button>
    <div id="signup"><a href="/login">Login Instead</a></div>
</div>