body {
    background-color: #d9e9d3;
}

.ttb {
    color: #221010;
    background-color: #d9e9d3;
}

header {
    background-color: #221010;
    padding: 40px 0px;
}

ul li {
    font-size: larger;
    color: #d9e9d3;
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}

.pageTitle {
    background-color: #d9e9d3;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    margin-left: 35px;
    padding: 20px 20px;
    box-shadow: 3px 3px 5px 3px gray;
}

#postContainer {
    background-color: red;
    padding: 2% 2%;
    /* background-color: #221010; */
}

.postHeader {
    float: left;
    background-color: #221010;
    color: #d9e9d3;
    font-size: x-large;
    padding: 10px 10px;

    
    
}
.author {
    width: 50%;
    background-color: #221010;
    color: #d9e9d3;
    float: right;
    text-align: end;
    padding: 15px 15px;
}

.post {
    border: 5px solid #221010;
    font-size: larger;
    
}

.postText {
    width: 100%;
    /* padding: 10px 10px;
    margin: 15px 15px; */
}

/* Login Page */

#loginCard {
    border: 2px solid #221010;
}

.loginHeader {
    background-color: #221010;
    color: #d9e9d3;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 1.5em;
}

#userName {
    margin: 15px 15px;
    color: #221010;
    font-size: 1.2em;
}

#userPassword {
    margin: 15px 15px;
    color: #221010;
    font-size: 1.2em;
}

#userEmail {
    margin: 15px 15px;
    color: #221010;
    font-size: 1.2em;
}

#password-login {
    margin: 15px 15px;
    color: #221010;
    font-size: 1.2em;
}

.loginInput {
    display: block;
    width: 98%;
    margin: 10px auto;
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
    outline: none;
}

.loginButton {
    display: block;
    background-color: rgb(116, 115, 115);
    border-radius: 5px;
    color: #d9e9d3;
    margin: 20px auto;
    padding: 10px 10px;
    width: 98%;
    font-size: 1.2em;
    border: none;
    box-shadow: 0 3px #888;
}

.loginButton:active {
    box-shadow: 0 5px #555;
    transform: translateY(5px);
  }

#signup {
    margin: 15px 15px;
    font-size: 1.2em;
}

/* Dashboard */
#newPostBtn {
    background-color: #221010;
    color: white;
    font-size: x-large;
    padding: 15px 25px;
    margin: 15px 500px;
    border-radius: 10px;
}

p.dashP {
    font-size: larger;
    margin-top: 10px;
    margin-left: 25px;
}

.dInput {
    width: 95%;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 10px;
}

#content-input.dInput {
    height: 75px;
}

#previous-posts {
    height: 150px;
    margin-bottom: 25px;
}

